<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors" />
  <meta name="generator" content="Hugo 0.101.0" />
  <title>OpenTrak with Helium</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/cover/" />
  <link href="/stylesheets/mdb.min.css" rel="stylesheet" />
  <script src="/javascripts/mdb.min.js"></script>
  <meta name="theme-color" content="#712cf9" />
  <style>
    html,
    body {
      height: 100vh;
      background-color: #8ec5fc;
      background-image: url("/images/bg.PNG");
      background-repeat: no-repeat;
      background-size: cover;
    }

    body {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-family: "Varela Round", Sans-serif;
      text-shadow: 0px 30px rgba(0, 0, 0, 0.15);
    }

    .main {
      text-align: center;
      z-index: 5;
    }

    h1 {
      font-size: 95px;
      margin: 0;
    }
  </style>
</head>

<body>
  <div class="main">
    <h1>
      <%= err.status %>
    </h1>
    <h5>
      <%= err.message %>
    </h5>
    <button type="button" class="btn btn-primary"> <a href="/" style="color: white;">Back to Home</a></button>
  </div>
</body>

</html>