<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.101.0">
    <title>OpenTrak with Helium</title>

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <meta name="theme-color" content="#712cf9">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
    <!-- MDB -->
    <link rel="stylesheet" href="/stylesheets/mdb.min.css" />
    <!-- Custom styles -->
    <link href="/stylesheets/cover.css" rel="stylesheet">
</head>

<body class="d-flex h-100 text-center text-bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">OpenTrak with Helium</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link fw-bold py-1 px-10" href="https://iotoffgrid.com/course/environmental-conservation-and-tech/">ECT Program</a>
                </nav>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link fw-bold py-1 px-10" href="https://iotoffgrid.com/wiki/">Wiki</a>
                </nav>

            </div>
        </header>

        <main class="px-3 p-3">

            <h1 class="m-2 mb-5">Open Source LoraWan GPS Tracking Dashboard</h1>

            <h6>Enter Dev EUI to see your tracker's data:</h6>
            <div class="form-row m-2 mb-3">
                <div class="input-group input-group-lg col-md-3 mx-auto">

                    <input type="search" id="deviceEUI" class="devEuiInput form-control form-control-lg"
                        data-mdb-showcounter="true" maxlength="16" value="ABCDEFGHIJKLMNOP" />
                    <div class="input-group-append">
                        <button id="search-button" type="button" class="btn btn-dark btn-lg" onclick="openMap()">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <h6><a href="https://iotoffgrid.com/docs/how-to-use-opentrack-with-my-wisnode-tracker/quick-start-guide-for-wisnode-tracker/">Learn how to add your own tracker</a></h6>


            <img class="img-fluid m-4 mb-2 bodyImage" src="https://www.helium.com/static/images/new/hntheader.svg">
        </main>

        <footer class="mt-auto text-white-50">
            <strong>OpenTrak is built by <a href="https://www.iotoffgrid.com/">IoT Off-Grid</a> with
                support from <a href="https://www.helium.foundation/">Helium Foundation.</a><br>
                <a href="https://github.com/abastola/Open-Track-with-Helium">Improve Project on Github</a> | 
                <a href="https://github.com/abastola/Open-Track-with-Helium">OpenTrak for Developers</a>
            </strong>
        </footer>
    </div>

    <script>
        function openMap() {
            url = window.location.href + 'tracker/' + document.getElementById('deviceEUI').value
            window.open(url, "_self")
        }

        let enterPress = document.getElementById("deviceEUI");
        enterPress.addEventListener("keyup", function (event) {
            if (event.keyCode === 13) {
                openMap();
            }
        });
    </script>




</body>

</html>
