<!DOCTYPE html>
<html>
  <head>
    <title>Tracker</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
      integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
      crossorigin=""
    />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script
      src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
      integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
      crossorigin=""
    ></script>
    <script src="/javascripts/leaflet-ant-path.js">

    </script>
  </head>
  <body>
    <h1>Breakneck Ridge Hiker</h1>
    <h1><%= Response.title %></h1>
    <div id="map"></div>
  </body>
  <script type="text/javascript">
    var locations = '<%- JSON.stringify(Response.locations) %>';
    locations = JSON.parse(locations);
    
    var focusedLocation = [11.206051, 122.447886];
    if (locations.length > 0){
      focusedLocation = [locations[0][1], locations[0][2]];
    }
    var map = L.map('map').setView(focusedLocation, 12);
    mapLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';
    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; ' + mapLink + ' Contributors',
      maxZoom: 18,
    }).addTo(map);

    for (var i = 0; i < locations.length; i++) {
      marker = new L.circleMarker([locations[i][1], locations[i][2]])
        .bindPopup(locations[i][0])
        .addTo(map);
    }

    latLongs = locations.map(function(x){
      return [x[1], x[2]]
    });

    var polyline = L.polyline(latLongs).addTo(map);

    var antPolyline = L.polyline.antPath(latLongs).addTo(map);


  </script>
</html>
